<a href="/">Home</a>

<div class="add">
  <h1>Share your thoughts</h1>

  <form action='/add' method='post'>
    <label for="title">Post Title</label>
      <input type="text" name='title'>
    <label for="user.name">Username</label>
      <input type="text" name='user.name'>
    <label for="body">Your Magical Thoughts</label>
      <textarea rows="5" name="body"></textarea>
    <label for="img">Img URL</label>
      <input type="url" name="img">
    <button type="submit">Post</button>
  </form>

</div>
