<form action='/detail' method='post'>
  <input type="text" name='title'>
  <input type="text" name='name'>
  <textarea name="body"></textarea>
  <input type="url" name="img" placeholder="Image URL">
  <button type="submit">Post</button>
</form>
