<form action='/write' method='post'>
  <input type="text" name='title' placeholder="Post Title">
  <input type="text" name='user_id' placeholder="Author">

  <!-- <select name="user_id">
    {{#each users}}
      <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
  </select> -->

  <textarea name="body" placeholder="Your Magical Thoughts"></textarea>
  <input type="url" name="img" placeholder="Image URL">
  <button type="submit">Post</button>
</form>
